html {
    font-size: 62.5%;
}

body {
    font-family: Tahoma, Arial, sans-serif;
    font-size: $font-m;
}

button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

button:disabled {
    cursor: default;
    opacity: .5;
}

.selected {
    font-weight: bold;
    color: green;
}